* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#FFF;
	text-decoration:none;
}

a:hover {
	color:#AAA;
	text-decoration:none;
}
p {
	font-size:15px;
}

/* body */
body {
	background: #777;
	color: black;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
	border-bottom:1px solid #999;
	height:80px;
	margin:0 auto;
	width:1300px;
}
#header h1 {
	color:#444;
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
}
#header h2 {
	color:#AAA;
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
}

/* navigation */
#navigation {
	background:lightgrey;
	border-right:1px solid #999;
	margin:0 auto;
	width:1305px;
	height:40px;
	list-style:none;
}
#navigation li {
	border-left:1px solid #999;
	float:left;
	width:260px;
	list-style:none;
}
#navigation a {
	color:#555;
	display:block;
	line-height:40px;
	text-align:center;
}
#navigation a:hover {
	background:#e3e3e3;
	color:#555;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;
}
/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:1300px;
}
#content h1 {
	border-bottom:1px dashed #999;
	font-size:1.8em;
	padding:20px 0 0;
}
#content p {
	padding:20px 20px 0;
}

/*  form  */
#form{
	border:2px solid #333;
	padding:3px;
	margin:1px;
}
#btn{
	padding:3px;
	margin:1px;
	font-size:15px;
}

/* footer */
#footer {
	border-top:1px solid #999; 
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:1300px;
}



.error {
	font-weight: bold;
	color:#800000;
}
/* #tablecenter */
table.center{
 	margin-left: auto;
  	margin-right: auto;
}


input:hover{
	background:darkgrey;
}
